
header {
	padding: 3rem 0;
}
button:disabled,
input[type="button"]:disabled {
  cursor: default;
}
.badge {
	height: 3.5rem;
	border: .2rem solid #232323;
}
figure.highlight {
	margin-left: 0;
	margin-right: 0;
}
.row {
	display: flex;
	flex-direction: column;
	padding: 0;
}
.row .column {
	display: block;
	flex: 1 1 auto;
	margin-left: 0;
	max-width: 100%;
	width: 100%;
}
@media (min-width: 40.0rem) {
	.row {
	flex-direction: row;
	margin: 0 -1rem;
	width: calc(100% + 2rem);
	}
	.row .column {
	margin-bottom: inherit;
	padding: 0 1.0rem;
	}
}
@media (prefers-color-scheme: dark) {
	body {
	  background: #232323;
	  color: #fff;
	}
	a,
	input::placeholder,
	textarea::placeholder {
	  color: #fff;
	}
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	textarea,
	select,
	progress {
	  background: #232323;
	  color: #fff;
	  border-color: #fff;
	}
	button:disabled,
	input[type="button"]:disabled,
	input[type="reset"]:disabled,
	input[type="submit"]:disabled{
	  color: #232323;
	  background: #fff;
	}
	fieldset {
	  border-color: #fff;
	}
	td,
	th,
	blockquote,
	pre,
	hr {
	  border-color: #fff;
	}
	progress::-webkit-progress-bar {
	  background-color: #232323;
	}
	progress::-webkit-progress-value {
	  background-color: #fff;
	}
	progress::-moz-progress-bar {
	  background-color: #fff;
	}
}